* {
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

body {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-areas:
    "header header header header header header header header header header header header header header header header header header"
    "left_side main main main main main main main main  main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-gap: 5px;
    background-color: #4e4e4e;
    color: #4e4e4e;
}

.navbar {
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #dbcc8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    grid-area: header;
    border-radius: 0 0 5px 5px;
}

.logo {
    all: inherit;
    height: 40px;
    width: auto;
    padding: 5px;
}

.logo_nav {
    display: flex;
    text-decoration: none;
    font-size: 40px;
    color: #4e4e4e;
}

.navbar ul {
    list-style: none;
    height: 50px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.nav_li {
    padding: 0 5px;
    margin: 0;
    height: 100%;
    width: 100%;
}

.nav_li a {
    height: 50px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    color: #4e4e4e;
}

.nav_li:hover, .nav_li a:hover {
    background-color: #b2a998;
    width: auto;
    height: 50px;
}

.main_content {
    background-color: #dbcc8f;
    grid-area: main;
    padding: 5px;
}

.cards {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}

.card_post {
    background-color: #f6e0b3;
    padding: 5px;
    margin: 5px auto 5px 10px;
    width: 350px;
    height: 450px;
    text-decoration: none;
    color: #4e4e4e;
    text-align: start;
}

.card_post img {
    width: 330px;
    height: 190px;
    margin: 10px auto;
    display: block;
}

.card_post .preview_info {
    width: 325px;
    height: 190px;
    margin: 10px auto;
    background-color: #4e4e4e;
    padding: 6px;
    color: #dbcc8f;
}

.left_side {
    background-color: #dbcc8f;
    grid-area: left_side;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 230px;
}

.left_side .card_post {
    width: 200px;
    height: 135px;
    margin: 5px 10px;
}

.left_side .card_post img {
    width: 190px;
    height: 110px;
    margin: auto;
}

.card_post:hover {
    background-color: #b2a998;
    box-shadow: 5px 5px 5px;
}

.current_page {
    background-color: #fff5eb;
    height: 50px;
    text-decoration: underline;
}

.project_text {
    font-style: italic;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    color: #dbcc8f;
    background-color: #4e4e4e;
}

.about h1 {
    text-decoration: underline;
}

.about ul {
    list-style: none;
}

.about_label {
    font-weight: bold;
    font-size: larger;
}

.about a {
    color: #dbcc8f;
    text-decoration: none;
}

.about img {
    width: 100px;
    height: auto;
}

.page_content {
    background-color: #f6e0b3;
    height: auto;
    margin: 10px;
    padding: 20px;
}

.keyboard_shortcut_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.keyboard_shortcut_ul span {
    text-decoration: underline;
    font-weight: bolder;
    font-size: larger;
}

.keyboard_shortcut_ul li{
    text-align: center;
    border: solid #4e4e4e 2px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 75px;
}

.subscribe input {
    padding: 5px;
}
.subscribe button {
    margin: 5px 10px;
}

.footer {
    background-color: #747474;
    grid-area: footer;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .logo_nav, footer {
    color: #dbcc8f
}

.footer ul {
    list-style: none;
}

.footer_lists {
    text-align: center;
}

.footer_lists img {
    height: 40px;
}

a {
    target-new: tab;
}

/*Project 1 CSS - Animal Trading Card */
/*Added "p1_" to all class and types to identify what the CSS is for */
.p1_img {
    width: 300px;
    height: auto;
    padding: 5px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p1_h3 {
    padding: 5px;
}

.p1_p {
    border: 0px;
}

.p1_card {
    padding: 5px;
    width: 312px;
    height: auto;
    margin: 5px;
    border: 2px solid #533b23;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2d2013;
    background-color: #b28c0525;
}

.p1_interesting_fact {
    font-style: italic;
}

.p1_card .p1_text_info {
    width: 286px;
    height: auto;
    background-color: #a17e4650;
    box-shadow: none;
}

.p1_text_info .p1_label {
    font-weight: bold;
}

.p1_text_info .p1_ul {
    padding: 0;
}

.p1_text_info .p1_li {
    list-style: none;
}


@media(min-width: 701px) and (max-width: 1100px){
    .logo_nav {
        text-indent: -9999px;
    }

    .left_side {
        width: 100px;
    }

    .left_side .card_post {
        width: 90px;
        height: auto;
        margin: 5px;
    }

    .left_side .card_post img {
        width: 0;
        height: 0;
    }
}

@media(max-width: 700px){
    body {
        grid-template-areas:
        "header header header header header header header header header header header header header header header header header header"
        "left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side "
        "main main main main main main main main main  main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    
        ;
    }

    .logo_nav {
        text-indent: -9999px;
    }

    .left_side {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .left_side .card_post {
        font-size: 12px;
        width: 100px;
        height: 20px;
        overflow: hidden;
    }

    .left_side .card_post img {
        width: 0;
        height: 0;
    }

    .card_post {
        margin: auto;
    }
}