@import url(site_text.css);
@import url(navbar.css);
@import url(footer.css);
@import url(left_side.css);
@import url(about_page.css);
@import url(p1-animal_trading_card.css);

* {
    border-radius: 5px;
    margin: 0;
    padding: 0;
}

body {
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-areas:
    "header header header header header header header header header header header header header header header header header header"
    "left_side main main main main main main main main  main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-gap: 5px;
    background-color: #4e4e4e;
    color: #4e4e4e;
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    all: inherit;
    height: 40px;
    width: auto;
    padding: 5px;
}

.main_content {
    background-color: #dbcc8f;
    grid-area: main;
    padding: 5px;
}

.cards {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
}

.card_post {
    background-color: #f6e0b3;
    padding: 5px;
    margin: 5px auto 5px 10px;
    width: 350px;
    height: 450px;
    text-decoration: none;
    color: #4e4e4e;
    text-align: start;
}

.card_post img {
    width: 330px;
    height: 190px;
    margin: 10px auto;
    display: block;
}

.card_post .preview_info {
    width: 325px;
    height: 140px;
    margin: 10px auto;
    background-color: #4e4e4e;
    padding: 6px;
    color: #dbcc8f;
}

.card_post:hover {
    background-color: #b2a998;
    box-shadow: 5px 5px 5px;
}

.current_page {
    background-color: #fff5eb;
    height: 50px;
    text-decoration: underline;
}

.project_text {
    font-style: italic;
}

.page_content {
    background-color: #f6e0b3;
    height: auto;
    margin: 10px;
    padding: 20px;
}

.keyboard_shortcut_ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.keyboard_shortcut_ul span {
    text-decoration: underline;
    font-weight: 900;
    font-size: larger;
}

.keyboard_shortcut_ul li{
    text-align: center;
    border: solid #4e4e4e 2px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: auto;
}

a {
    target-new: tab;
}

.github_link {
    font-size: 0;
}

@media(min-width: 720px) and (max-width: 1080px){
    .logo_nav {
        font-size: 0;
    }

    .left_side {
        width: 110px;
    }

    .left_side .card_post {
        width: 90px;
        height: auto;
        margin: 5px;
    }

    .left_side .card_post img {
        width: 0;
        height: 0;
    }
    
}

@media(max-width: 720px){
    body {
        grid-template-areas:
        "header header header header header header header header header header header header header header header header header header"
        "left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side left_side "
        "main main main main main main main main main  main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
    
        ;
    }

    .logo_nav {
        font-size: 0;
    }

    .left_side {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .left_side .card_post {
        font-size: 12px;
        width: 100px;
        height: auto;
        overflow: hidden;
    }

    .left_side .card_post img {
        width: 0;
        height: 0;
    }

    .card_post {
        margin: auto;
    }
}